<div class="container container--medium">
  <div class="page-static-wrapper">
    <header class="page__header page__header--centered">
      <h4 class="page__title heading h4">{{ page.title }}</h4>
    </header>

    <div class="page__content rte">
      {{ page.content }}
    </div>
  </div>
</div>