<div class="container">
  <main class="page-grid">
      <nav class="nav">
        <div id="tabs_container">
          <ul class="tabs">
            <li>
              <a href="#" rel="#tab_1_contents" class="tab active">Account Creation, Login, and Loyalty Cards</a>
            </li>
            <li>
              <a href="#" rel="#tab_2_contents" class="tab">Ordering and Cancellation</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="content">
		
        <h3 id="category-title" class="page__title heading h3">{{ page.title }}</h3>
        
         <div class="tab_contents_container">

           <div id="tab_1_contents" class="tab_contents tab_contents_active">
             <ul class="article-list">
                <li class="article-list-item">
					          <a href="/pages/how-secure-is-my-information-on-shopsm" class="article-list-anchor theme-blue"> How secure is my information on ShopSM? </a>
                </li>
                <li class="article-list-item">
                  	<a href="/pages/what-should-i-do-if-i-cant-login-to-my-account" class="article-list-anchor theme-blue"> What should I do if I can't login to my account? </a>
               	</li>
                <li class="article-list-item">
                      <a href="/pages/what-loyalty-cards-can-i-use-to-earn-points-on-shopsm" class="article-list-anchor theme-blue"> What loyalty cards can I use to earn points on ShopSM? </a>
                 </li>
                <li class="article-list-item">
                      <a href="/pages/whats-the-address-book-for" class="article-list-anchor theme-blue"> What's the Address Book for? </a>
                 </li>
                <li class="article-list-item">
                      <a href="/pages/how-do-i-create-an-account-login-and-manage-account" class="article-list-anchor theme-blue"> How do I create an account, login, and manage account? </a>
                 </li>
             </ul>
           </div>

           <div id="tab_2_contents" class="tab_contents">
            <ul class="article-list">
              <li class="article-list-item">
                <a href="/pages/how-do-i-know-if-my-order-is-successful" class="item"> How do I know if my order is successful? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/how-do-i-place-an-order" class="article-list-anchor theme-blue"> How do I place an order? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/can-i-still-change-any-information-after-placing-my-order" class="article-list-anchor theme-blue"> Can I still change any information after placing my order? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/how-long-is-the-delivery-timeframe" class="article-list-anchor theme-blue"> How long is the delivery timeframe? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/i-need-more-information-about-cancellation-of-orders" class="article-list-anchor theme-blue"> I need more information about cancellation of orders </a>
              </li>
            </ul>
           </div>
         </div>
		{% comment %}        
        {%- if page.content != blank -%}
          <div class="page__description rte">
            {{ page.content }}
          </div>
        {%- endif -%}
        {% endcomment %}
      </div>
    </main>
</div>
{% schema %}
  {
    "name": "FAQs Category",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
// RELATED JAVASCRIPT IN custom.js
{% endjavascript %}
