<div class="container">
  <main class="page-grid">
      <nav class="nav">
        <div id="tabs_container">
          <ul class="tabs">
            <li>
              <a href="#" rel="#tab_1_contents" class="tab" data-category="1"> Account Creation, Login, and Loyalty Cards </a>
            </li>
            <li>
              <a href="#" rel="#tab_2_contents" class="tab" data-category="2"> Ordering and Cancellation </a>
            </li>
            <li>
              <a href="#" rel="#tab_3_contents" class="tab" data-category="3"> About our Products </a>
            </li>
            <li>
              <a href="#" rel="#tab_4_contents" class="tab" data-category="4"> Payment Options and Vouchers </a>
            </li>
            <li>
              <a href="#" rel="#tab_5_contents" class="tab" data-category="5"> Click & Collect </a>
            </li>
            <li>
              <a href="#" rel="#tab_6_contents" class="tab" data-category="6"> Shipping and Delivery </a>
            </li>
            <li>
              <a href="#" rel="#tab_7_contents" class="tab" data-category="7"> Return, Refund, and Exchange </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="content">
		
        <h3 id="category-title" class="page__title heading h3">{{ page.title }}</h3>
        
         <div class="tab_contents_container">
           <div id="tab_1_contents" class="tab_contents tab_contents_active">
             <ul class="article-list">
                <li class="article-list-item">
					          <a href="/pages/how-secure-is-my-information-on-shopsm?category=1" class="article-list-anchor theme-blue"> How secure is my information on ShopSM? </a>
                </li>
                <li class="article-list-item">
                  	<a href="/pages/what-should-i-do-if-i-cant-login-to-my-account?category=1" class="article-list-anchor theme-blue"> What should I do if I can't login to my account? </a>
               	</li>
                <li class="article-list-item">
                    <a href="/pages/what-loyalty-cards-can-i-use-to-earn-points-on-shopsm?category=1" class="article-list-anchor theme-blue"> What loyalty cards can I use to earn points on ShopSM? </a>
                </li>
                <li class="article-list-item">
                    <a href="/pages/whats-the-address-book-for?category=1" class="article-list-anchor theme-blue"> What's the Address Book for? </a>
                 </li>
                <li class="article-list-item">
                    <a href="/pages/how-do-i-create-an-account-login-and-manage-account?category=1" class="article-list-anchor theme-blue"> How do I create an account, login, and manage account? </a>
                </li>
             </ul>
           </div>

          <div id="tab_2_contents" class="tab_contents">
            <ul class="article-list">
              <li class="article-list-item">
                <a href="/pages/how-do-i-know-if-my-order-is-successful?category=2" class="item theme-blue"> How do I know if my order is successful? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/how-do-i-place-an-order?category=2" class="article-list-anchor theme-blue"> How do I place an order? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/can-i-still-change-any-information-after-placing-my-order?category=2" class="article-list-anchor theme-blue"> Can I still change any information after placing my order? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/how-long-is-the-delivery-timeframe?category=2" class="article-list-anchor theme-blue"> How long is the delivery timeframe? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/i-need-more-information-about-cancellation-of-orders?category=2" class="article-list-anchor theme-blue"> I need more information about cancellation of orders </a>
              </li>
            </ul>
          </div>

          <div id="tab_3_contents" class="tab_contents">
            <ul class="article-list">
              <li class="article-list-item">
                <a href="/pages/are-the-products-on-sale-at-shopsm-authentic?category=3" class="item theme-blue"> Are the products on sale at ShopSM authentic? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/how-can-i-get-more-information-about-a-product?category=3" class="article-list-anchor theme-blue"> How can I get more information about a product? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/do-your-products-come-with-warranty?category=3" class="article-list-anchor theme-blue"> Do your products come with warranty? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/i-saw-a-product-on-shop-sm-com-before-but-i-cannot-find-it-anymore-what-should-i-do?category=3" class="article-list-anchor theme-blue"> I saw a product on shop.sm.com before, but I cannot find it anymore. What should I do? </a>
              </li>
            </ul>
          </div>

          <div id="tab_4_contents" class="tab_contents">
            <ul class="article-list">
              <li class="article-list-item">
                <a href="/pages/what-are-vouchers-for?category=4" class="item theme-blue"> What are vouchers for? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/what-payment-options-are-available-on-shopsm?category=4" class="article-list-anchor theme-blue"> What payment options are available on ShopSM? </a>
              </li>
            </ul>
          </div>

          <div id="tab_5_contents" class="tab_contents">
            <ul class="article-list">
              <li class="article-list-item">
                <a href="/pages/what-is-click-collect?category=5" class="item theme-blue"> What is Click & Collect? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/where-are-the-click-collect-locations?category=5" class="article-list-anchor theme-blue"> Where are the Click & Collect locations? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/how-do-i-collect-my-order-from-a-click-collect-location?category=5" class="article-list-anchor theme-blue"> How do I collect my order from a Click & Collect location? </a>
              </li>
            </ul>
          </div>

          <div id="tab_6_contents" class="tab_contents">
            <ul class="article-list">
              <li class="article-list-item">
                <a href="/pages/how-can-i-track-my-order?category=6" class="item theme-blue"> How can I track my order? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/what-shipping-options-are-available?category=6" class="article-list-anchor theme-blue"> What shipping options are available? </a>
              </li>
            </ul>
          </div>

          <div id="tab_7_contents" class="tab_contents">
            <ul class="article-list">
              <li class="article-list-item">
                <a href="/pages/how-can-i-get-my-refund?category=7" class="item theme-blue"> How can I get my refund? </a>
              </li>
              <li class="article-list-item">
                  <a href="/pages/how-do-i-return-an-item-i-purchased-online?category=7" class="article-list-anchor theme-blue"> How do I return an item I purchased online? </a>
              </li>
            </ul>
          </div>
         </div>
		{% comment %}        
        {%- if page.content != blank -%}
          <div class="page__description rte">
            {{ page.content }}
          </div>
        {%- endif -%}
        {% endcomment %}
      </div>
    </main>
</div>
{% schema %}
  {
    "name": "FAQs Category",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
// RELATED JAVASCRIPT IN custom.js
{% endjavascript %}
