<div class="container container--medium">
  <div class="page-static-wrapper">
    <header class="page__header page__header--centered">
      <h3 class="page__title heading h3">{{ page.title }}</h3>
    </header>

    <div class="page__content rte">
      {{ page.content }}
    </div>
  </div>
</div>